.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: lavender;
    color: purple;
    position: sticky;
    top: 50px;

    .sidebarWrapper{
        padding: 18px;

        .sidebarMenu{
            margin-bottom: 6px;

            .sidebarTitle{
                font-size: 11px;
            }

         .sidebarList{
            list-style: none;
            padding: 4px;

            .sidebarListItem{
                padding: 3px;
                cursor: pointer;
                display: flex;
                align-items: center;
                border-radius: 10px;

                &.active,&:hover{
                    background-color: #bb95cc;
                }

                .sidebarIcon{
                  margin-right: 5px;
                  font-size: 18px;
                }
            }
         }
        }
        
    }
}