.featured {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;

  .featuredItem {
    flex: 1;
    background-color: #eee4f2;
    color: purple;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

    .featuredTitle {
      font-weight: 500;
      font-size: 20px;
    }

    .moneyContainer {
      display: flex;
      align-items: center;
      margin: 10px 0px;

      .featuredMoney {
        font-weight: 900;
        font-size: 25px;
      }
      .featuredMoneyRate {
        display: flex;
        align-items: center;
        margin-left: 18px;

        .downIcon {
          margin-left: 5px;
          color: red;
        }
        .upIcon {
          margin-left: 5px;
          color: green;
        }
      }
    }
    .featuredSub{
        color: #843687;
    }
  }
}
