.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;

  .userListImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
}
.userListEditBtn {
  font-size: 17px;
  padding: 5px 10px;
  margin-right: 12px;
  border: none;
  border-radius: 7px;
  background-color: #e0aff5;
  cursor: pointer;

}
.userListDel {
    color: purple;
  font-size: 30px !important;
}